<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Textutils</title>
</head>
<body>
    <h1>Welcom to the Text analyazer</h1>
    <p>Enter your text below</p>
    <form action='analyze' method='get'>
        <textarea name='text' style='width: 1900px; height: 324px;'></textarea>
        <input type='checkbox' name='removePunc'>Remove Punc<br>
        <input type='checkbox' name='allCaps'>All Caps<br>
        <input type='checkbox' name='capfirst'>Capital First<br>
        <input type='checkbox' name='newlineremove'>NewLine Remove<br>
        <input type='checkbox' name='spaceremove'>Space Remove<br>
        <input type='checkbox' name='charcount'>Char Count<br>
        
        <button type='submit'>analyaze</button>
    </form>
</body>
</html>


